AUTHORS
COPYING
LICENSE
Makefile.in
README
make.conf.in
configure
./apps/Makefile
./apps/README
./apps/version.gps
./autoconf/Makefile
./autoconf/README
./autoconf/config.guess
./autoconf/config.sub
./autoconf/install-sh
./base/README
./base/configure.in
./base/Makefile
./base/MANIFEST.in
./bin/Makefile
./bin/Makefile
./bin/adacompiler.sh.in
./bin/docbuild.sh.in
./bin/domanifest.sh.in
./bin/makelib.sh.in
./bin/vars.sh.in
./bin/install-odb.sh.in
./bin/odb-config.in
./doc/Makefile
./doc/README
./etc/config.site
./pkg-config/Makefile
./pkg-config/apf.pc.in
./pkg-config/README
./samples/README
./samples/Makefile
./samples/version.gps
./src/Makefile
./util/Makefile
./adadoc/Makefile
./adadoc/adadoc.adb
./adadoc/example.ads
./adadoc/example_rstyle.ads
./adadoc/test.sgml
./adadoc/text.ads
./adadoc/text.adb
./rpm/Makefile
./rpm/README
./rpm/odb.m4
